<div class="task-card">
  <h3 class="title">{{ title }}</h3>
  <h5
    class="priority"
    [ngClass]="{
      priorityHigh: priority === 'High',
      priorityMedium: priority === 'Medium',
      priorityLow: priority === 'Low'
    }"
  >
    {{ priority }}
  </h5>
  <p class="description">
    {{ description }}
  </p>
  <div class="icons">
    <div class="fa fa-trash delete" (click)="onTaskDeleted()"></div>
    <div class="fa fa-check-square done" (click)="onTaskCompleted()"></div>
  </div>
</div>
